# DVC internal cache
.dvc/cache
.dvc/tmp

# DVC-tracked data and models (ignore the content, track the .dvc files)
/data/processed/
/data/crops/
/data/raw/dataset.zip
/data/real_test/
/models/
/metrics/

# Python cache & virtual environment
pycache/
*.pyc
.env
venv/
*.env

# OS-specific files
.DS_Store
Thumbs.db

# YOLO / Ultralytics artifacts
/runs/
/models/fp32/best_saved_model/
/models/fp32/run/
*.onnx
*.npy

# Base models (to be tracked by DVC)
*.pt
