# requirements.txt

# For training, evaluation, and quantization.
# This will automatically pull in the correct platform-specific
# torch, torchvision, opencv-python, pyyaml, etc.
ultralytics[export]

# For the dvc pipeline itself, with Google Drive support
dvc[gdrive]

# For data splitting in scripts/prepare.py
scikit-learn
